:root {
  --background: #fcfbf7;
  --foreground: #fbf8f4;
  --border: 1px solid #f2e9d9;
  --primary-accent: #137771;
  --secondary-accent: #f6efe5;
  --text-dark: #363f3f;
  --text-light: #53605f;
  --link-color: var(--primary-accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020e0e;
    --foreground: #041514;
    --border: 1px solid #052421;
    --text-dark: #f4f6f5;
    --text-light: #bac4c3;
    --link-color: var(--secondary-accent);
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  color: var(--text-light);
  font-family: var(--font-Rubik);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 470;
}

/* styles for react-responsive-modal */
.react-responsive-modal-overlay {
  /* background: var(--transparent) !important; */
  visibility: hidden;
}

@media only screen and (min-width: 992px) {
  .react-responsive-modal-overlay {
    visibility: visible;
  }
}

.react-responsive-modal-modal {
  visibility: hidden;
  box-shadow: none !important;
  background-color: transparent !important;
}

@media only screen and (min-width: 992px) {
  .react-responsive-modal-modal {
    visibility: visible;
  }
}

.react-responsive-modal-modal:focus {
  outline: none;
}

.react-responsive-modal-closeButton {
  display: none !important;
}
