:root {
  --background: #fcfbf7;
  --foreground: #fbf8f4;
  --border: #d3b583;
  --accent: #137771;
  --text-dark: #363f3f;
  --text-light: #53605f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020e0e;
    --foreground: #041514;
    --border: #0a3e3a;
    --accent: #f6efe5;
    --text-dark: #f4f6f5;
    --text-light: #bac4c3;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  color: var(--text-light);
  font-family: var(--font-Rubik);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
