:root {
  --background: #fbf8f4;
  --foreground: #f6efe5;
  --highlight: white;
  --border: 1px solid #eee2ce;
  --accent: #137771;
  --accent-bg-text: #f6efe5;
  --text-dark: #363f3f;
  --text-light: #53605f;
  --link-color: var(--accent);
  --mute-text: #bac4c3;
  --svg-text: #9ba3a2;
  --red-bg: #c82020;
  --red-bg-text: #ffffff;
  --green-bg: #2e7d52;
  --green-bg-text: #ffffff;
  --yellow-bg: #c89200;
  --yellow-bg-text: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020e0e;
    --foreground: #041514;
    --highlight: #171c1c;
    --border: 1px solid #052421;
    --text-dark: #f4f6f5;
    --text-light: #bac4c3;
    --mute-text: #53605f;
    --svg-text: #677170;
    --red-bg: #e03030;
    --red-bg-text: #e8f6f3;
    --green-bg: #30714f;
    --green-bg-text: #c8ddd2;
    --yellow-bg: #f0c040;
    --yellow-bg-text: #3b3107;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  color: var(--text-light);
  font-family: var(--font-Rubik);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 430;
}

svg {
  color: var(--svg-text);
  vertical-align: middle;
}
