@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: #0c1410;
  color: #ffffffde;
  color-scheme: light dark;
  font-family: "Hanken Grotesk", sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg: #0c1410;
  --bg-accent: #006045;
  --bg-highlight: #bb4d00;
  --text-accent: #002c22;
  --text-highlight: #fffbeb;
  --bg-surface: #0f1e17;
  --color: #ecfdf5;
  --color-mute: #90a1b9;
  --bg-border: #0f1e17;
  --shadow:
    0 4px 10px rgba(0, 0, 0, 0.45), 0 -1px 1px rgba(255, 255, 255, 0.08) inset;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #f6f7f6;
    --bg-accent: #00bc7d;
    --bg-highlight: #fdc700;
    --text-accent: #ecfdf5;
    --text-highlight: #fffbeb;
    --bg-surface: #d0fae5;
    --color: #002c22;
    --color-mute: #62748e;
    --bg-border: #f6fff8;
    --shadow:
      0 2px 6px rgba(0, 0, 0, 0.08), 0 -1px 0 rgba(255, 255, 255, 0.25) inset;
  }
}

body {
  background-color: var(--bg);
  color: var(--color-mute);
  height: 100vh;
  width: 100vw;
}
